.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.modal__top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.modal__top-person {
  display: flex;
  align-items: center;
}

.modal__top-person--img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 8px;
}

.modal__top-person--img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__top-person--names > .fullname {
  font-weight: bold;
}

.modal__top-person--names > .username {
  font-size: 0.8rem;
  color: gray;
}

.modal__top-buttons {
  display: flex;
  align-items: center;
}

.modal__top-buttons--like,
.modal__top-buttons--add {
  border: 1px solid gray;
  padding: 5px 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__top-buttons--like > .MuiSvgIcon-root,
.modal__top-buttons--add > .MuiSvgIcon-root {
  fill: gray;
}

.modal__img {
  width: 80%;
  margin: 5px auto;
  height: 75%;
}

.modal__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal__bottom-location {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.modal__bottom-location > p {
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 0.9rem;
}

.modal__bottom-location > p > .MuiSvgIcon-root {
  fill: gray;
  margin-right: 5px;
}

.modal__bottom-buttons {
  display: flex;
  align-items: center;
}

.modal__bottom-buttons--share,
.modal__bottom-buttons--info {
  border: 1px solid gray;
  padding: 5px 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-weight: bold;
  font-size: smaller;
}

.modal__bottom-buttons--share > .MuiSvgIcon-root,
.modal__bottom-buttons--info > .MuiSvgIcon-root {
  fill: gray;
  margin-right: 5px;
}
